-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: logistic_db
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Addresses`
--

DROP TABLE IF EXISTS `Addresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Addresses` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Street` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Number` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Apartment` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `City` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Province` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Country` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PostalCode` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Latitude` double DEFAULT NULL,
  `Longitude` double DEFAULT NULL,
  `FormattedAddress` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `CreatedAt` datetime(6) NOT NULL,
  `LogisticCustomerId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_Addresses_LogisticCustomerId` (`LogisticCustomerId`),
  CONSTRAINT `FK_Addresses_Customers_LogisticCustomerId` FOREIGN KEY (`LogisticCustomerId`) REFERENCES `Customers` (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Addresses`
--

LOCK TABLES `Addresses` WRITE;
/*!40000 ALTER TABLE `Addresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `Addresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Customers`
--

DROP TABLE IF EXISTS `Customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Customers` (
  `Id` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `FirstName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `LastName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Email` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PhoneNumber` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Address` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `RegistrationDate` datetime(6) NOT NULL,
  `SatisfactionDescription` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `SatisfactionScore` int DEFAULT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Customers`
--

LOCK TABLES `Customers` WRITE;
/*!40000 ALTER TABLE `Customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `Customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryIncidents`
--

DROP TABLE IF EXISTS `DeliveryIncidents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryIncidents` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `LogisticOrderId` int NOT NULL,
  `ReportedByOperatorId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `IncidentType` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `ReportedAt` datetime(6) NOT NULL,
  `Resolved` tinyint(1) NOT NULL,
  `ResolvedAt` datetime(6) DEFAULT NULL,
  `ResolutionNote` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DeliveryIncidentStatus` int NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DeliveryIncidents_LogisticOrderId` (`LogisticOrderId`),
  CONSTRAINT `FK_DeliveryIncidents_LogisticOrders_LogisticOrderId` FOREIGN KEY (`LogisticOrderId`) REFERENCES `LogisticOrders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryIncidents`
--

LOCK TABLES `DeliveryIncidents` WRITE;
/*!40000 ALTER TABLE `DeliveryIncidents` DISABLE KEYS */;
INSERT INTO `DeliveryIncidents` VALUES (4,63,'d86e824e-7bf1-48c9-ab80-e751f99a5f1d','Pending','Se rompi├│ la rueda del auto mientras lleg├íbamos al destino... ','2026-02-10 14:14:23.803443',0,NULL,NULL,0),(5,67,'6104297a-1acb-4696-819f-1fb26630a352','Pending','El pedido se da├▒o durante el traslado','2026-02-10 14:16:30.861845',0,NULL,NULL,0),(6,65,'1d862141-f67a-47f9-8666-0ee26827939c','Pending','Desv├¡os que impidieron llegar al destino','2026-02-10 14:23:29.679548',0,NULL,NULL,0);
/*!40000 ALTER TABLE `DeliveryIncidents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryRejectionReasons`
--

DROP TABLE IF EXISTS `DeliveryRejectionReasons`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryRejectionReasons` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `LogisticOrderId` int NOT NULL,
  `DeliveryOperatorId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `Reason` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `RejectedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DeliveryRejectionReasons_LogisticOrderId` (`LogisticOrderId`),
  CONSTRAINT `FK_DeliveryRejectionReasons_LogisticOrders_LogisticOrderId` FOREIGN KEY (`LogisticOrderId`) REFERENCES `LogisticOrders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryRejectionReasons`
--

LOCK TABLES `DeliveryRejectionReasons` WRITE;
/*!40000 ALTER TABLE `DeliveryRejectionReasons` DISABLE KEYS */;
/*!40000 ALTER TABLE `DeliveryRejectionReasons` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryTeamAssignments`
--

DROP TABLE IF EXISTS `DeliveryTeamAssignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryTeamAssignments` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `LogisticOrderId` int NOT NULL,
  `DeliveryTeamId` int NOT NULL,
  `DeliveryZoneId` int DEFAULT NULL,
  `AssignedAt` datetime(6) NOT NULL,
  `AssignedByUserId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DeliveryTeamAssignments_DeliveryTeamId` (`DeliveryTeamId`),
  KEY `IX_DeliveryTeamAssignments_DeliveryZoneId` (`DeliveryZoneId`),
  KEY `IX_DeliveryTeamAssignments_LogisticOrderId` (`LogisticOrderId`),
  CONSTRAINT `FK_DeliveryTeamAssignments_DeliveryTeams_DeliveryTeamId` FOREIGN KEY (`DeliveryTeamId`) REFERENCES `DeliveryTeams` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_DeliveryTeamAssignments_DeliveryZones_DeliveryZoneId` FOREIGN KEY (`DeliveryZoneId`) REFERENCES `DeliveryZones` (`Id`),
  CONSTRAINT `FK_DeliveryTeamAssignments_LogisticOrders_LogisticOrderId` FOREIGN KEY (`LogisticOrderId`) REFERENCES `LogisticOrders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryTeamAssignments`
--

LOCK TABLES `DeliveryTeamAssignments` WRITE;
/*!40000 ALTER TABLE `DeliveryTeamAssignments` DISABLE KEYS */;
/*!40000 ALTER TABLE `DeliveryTeamAssignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryTeamMembers`
--

DROP TABLE IF EXISTS `DeliveryTeamMembers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryTeamMembers` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `DeliveryTeamId` int NOT NULL,
  `OperatorUserId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `RoleInTeam` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `AssignedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DeliveryTeamMembers_DeliveryTeamId` (`DeliveryTeamId`),
  CONSTRAINT `FK_DeliveryTeamMembers_DeliveryTeams_DeliveryTeamId` FOREIGN KEY (`DeliveryTeamId`) REFERENCES `DeliveryTeams` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryTeamMembers`
--

LOCK TABLES `DeliveryTeamMembers` WRITE;
/*!40000 ALTER TABLE `DeliveryTeamMembers` DISABLE KEYS */;
/*!40000 ALTER TABLE `DeliveryTeamMembers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryTeamZoneAssignments`
--

DROP TABLE IF EXISTS `DeliveryTeamZoneAssignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryTeamZoneAssignments` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `DeliveryTeamId` int NOT NULL,
  `DeliveryZoneId` int NOT NULL,
  `AssignedAt` datetime(6) NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DeliveryTeamZoneAssignments_DeliveryTeamId` (`DeliveryTeamId`),
  KEY `IX_DeliveryTeamZoneAssignments_DeliveryZoneId` (`DeliveryZoneId`),
  CONSTRAINT `FK_DeliveryTeamZoneAssignments_DeliveryTeams_DeliveryTeamId` FOREIGN KEY (`DeliveryTeamId`) REFERENCES `DeliveryTeams` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_DeliveryTeamZoneAssignments_DeliveryZones_DeliveryZoneId` FOREIGN KEY (`DeliveryZoneId`) REFERENCES `DeliveryZones` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryTeamZoneAssignments`
--

LOCK TABLES `DeliveryTeamZoneAssignments` WRITE;
/*!40000 ALTER TABLE `DeliveryTeamZoneAssignments` DISABLE KEYS */;
INSERT INTO `DeliveryTeamZoneAssignments` VALUES (3,3,5,'2026-02-09 23:38:25.818155',1),(4,4,4,'2026-02-10 03:02:43.633729',1),(5,5,3,'2026-02-10 03:03:40.852783',1),(6,6,6,'2026-02-10 05:02:56.402936',1);
/*!40000 ALTER TABLE `DeliveryTeamZoneAssignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryTeams`
--

DROP TABLE IF EXISTS `DeliveryTeams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryTeams` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `TeamName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `TeamDescription` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `CreatedAt` datetime(6) NOT NULL,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryTeams`
--

LOCK TABLES `DeliveryTeams` WRITE;
/*!40000 ALTER TABLE `DeliveryTeams` DISABLE KEYS */;
INSERT INTO `DeliveryTeams` VALUES (3,'Equipo Centro','Equipo encargado de llevar pedidos en la zona centro de la ciudad de C├│rdoba. ','2026-02-09 23:36:39.371243',1),(4,'Equipo Sur','Equipo encargado de llevar pedidos a la zona sur de la ciudad de C├│rdoba.','2026-02-10 03:02:35.523423',1),(5,'Equipo Norte','Equipo encargado de llevar pedidos a la zona norte de la ciudad de C├│rdoba. ','2026-02-10 03:03:34.461462',1),(6,'Equipo Sierras','Equipo encargado de llevar pedidos a la zona de las sierras. ','2026-02-10 05:02:45.479048',1);
/*!40000 ALTER TABLE `DeliveryTeams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DeliveryZones`
--

DROP TABLE IF EXISTS `DeliveryZones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DeliveryZones` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Name` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Description` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `IsActive` tinyint(1) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DeliveryZones`
--

LOCK TABLES `DeliveryZones` WRITE;
/*!40000 ALTER TABLE `DeliveryZones` DISABLE KEYS */;
INSERT INTO `DeliveryZones` VALUES (3,'ZONA NORTE','Zona norte de la ciudad de C├│rdoba ',1),(4,'ZONA SUR','Zona sur de la ciudad de C├│rdoba',1),(5,'ZONA CENTRO','Zona centro de la ciudad de C├│rdoba. ',1),(6,'ZONA SIERRAS','Zona las sierras cordobesas que abarca las ciudades de Jes├║s maria y Villa Carlos paz ',1);
/*!40000 ALTER TABLE `DeliveryZones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `LogisticOrderItems`
--

DROP TABLE IF EXISTS `LogisticOrderItems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LogisticOrderItems` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `OrderId` int NOT NULL,
  `ProductName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `ProductBrand` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Quantity` int NOT NULL,
  `PackagingType` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `UnitPrice` decimal(65,30) DEFAULT NULL,
  `Total` decimal(65,30) NOT NULL,
  `SalesOrderItemId` int NOT NULL,
  `DepotOrderItemId` int NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_LogisticOrderItems_OrderId` (`OrderId`),
  CONSTRAINT `FK_LogisticOrderItems_LogisticOrders_OrderId` FOREIGN KEY (`OrderId`) REFERENCES `LogisticOrders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=372 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `LogisticOrderItems`
--

LOCK TABLES `LogisticOrderItems` WRITE;
/*!40000 ALTER TABLE `LogisticOrderItems` DISABLE KEYS */;
/*!40000 ALTER TABLE `LogisticOrderItems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `LogisticOrders`
--

DROP TABLE IF EXISTS `LogisticOrders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `LogisticOrders` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Status` int NOT NULL,
  `DeliveryPriority` int DEFAULT NULL,
  `OrderDate` datetime(6) NOT NULL,
  `DeliveryDate` datetime(6) DEFAULT NULL,
  `ModifiedStatusDate` datetime(6) DEFAULT NULL,
  `TotalAmount` decimal(65,30) DEFAULT NULL,
  `PaymentReceipt` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DeliveryDetail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `PaymentType` int DEFAULT NULL,
  `CustomerId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `AssignedOperatorId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci DEFAULT NULL,
  `AssignedDeliveryTeamId` int DEFAULT NULL,
  `AssignedDeliveryZoneId` int DEFAULT NULL,
  `DeliveryAddressId` int NOT NULL,
  `DepotOrderId` int NOT NULL,
  `SalesOrderId` int NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_LogisticOrders_AssignedDeliveryTeamId` (`AssignedDeliveryTeamId`),
  KEY `IX_LogisticOrders_AssignedDeliveryZoneId` (`AssignedDeliveryZoneId`),
  KEY `IX_LogisticOrders_CustomerId` (`CustomerId`),
  KEY `IX_LogisticOrders_DeliveryAddressId` (`DeliveryAddressId`),
  CONSTRAINT `FK_LogisticOrders_Addresses_DeliveryAddressId` FOREIGN KEY (`DeliveryAddressId`) REFERENCES `Addresses` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_LogisticOrders_Customers_CustomerId` FOREIGN KEY (`CustomerId`) REFERENCES `Customers` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_LogisticOrders_DeliveryTeams_AssignedDeliveryTeamId` FOREIGN KEY (`AssignedDeliveryTeamId`) REFERENCES `DeliveryTeams` (`Id`) ON DELETE RESTRICT,
  CONSTRAINT `FK_LogisticOrders_DeliveryZones_AssignedDeliveryZoneId` FOREIGN KEY (`AssignedDeliveryZoneId`) REFERENCES `DeliveryZones` (`Id`) ON DELETE RESTRICT
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `LogisticOrders`
--

LOCK TABLES `LogisticOrders` WRITE;
/*!40000 ALTER TABLE `LogisticOrders` DISABLE KEYS */;
/*!40000 ALTER TABLE `LogisticOrders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `OrderStatusHistories`
--

DROP TABLE IF EXISTS `OrderStatusHistories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `OrderStatusHistories` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `OrderId` int DEFAULT NULL,
  `OldStatus` int NOT NULL,
  `NewStatus` int NOT NULL,
  `ChangedAt` datetime(6) NOT NULL,
  `AverageDuration` double NOT NULL,
  `LogisticOrderId` int NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_OrderStatusHistories_LogisticOrderId` (`LogisticOrderId`),
  CONSTRAINT `FK_OrderStatusHistories_LogisticOrders_LogisticOrderId` FOREIGN KEY (`LogisticOrderId`) REFERENCES `LogisticOrders` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=222 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `OrderStatusHistories`
--

LOCK TABLES `OrderStatusHistories` WRITE;
/*!40000 ALTER TABLE `OrderStatusHistories` DISABLE KEYS */;
/*!40000 ALTER TABLE `OrderStatusHistories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `__EFMigrationsHistory`
--

DROP TABLE IF EXISTS `__EFMigrationsHistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `__EFMigrationsHistory` (
  `MigrationId` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `ProductVersion` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__EFMigrationsHistory`
--

LOCK TABLES `__EFMigrationsHistory` WRITE;
/*!40000 ALTER TABLE `__EFMigrationsHistory` DISABLE KEYS */;
INSERT INTO `__EFMigrationsHistory` VALUES ('20260127161928_InitialCreate','8.0.0');
/*!40000 ALTER TABLE `__EFMigrationsHistory` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-10 14:31:12
