-- MySQL dump 10.13  Distrib 8.0.42, for Linux (x86_64)
--
-- Host: localhost    Database: depot_db
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `DepotOrderItems`
--

DROP TABLE IF EXISTS `DepotOrderItems`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DepotOrderItems` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `DepotOrderEntityId` int NOT NULL,
  `SalesOrderItemId` int NOT NULL,
  `ProductName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `ProductBrand` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `PackagingType` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `UnitPrice` decimal(65,30) DEFAULT NULL,
  `Quantity` int NOT NULL,
  `IsReady` tinyint(1) NOT NULL,
  `Total` decimal(65,30) DEFAULT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_DepotOrderItems_DepotOrderEntityId` (`DepotOrderEntityId`),
  CONSTRAINT `FK_DepotOrderItems_DepotOrders_DepotOrderEntityId` FOREIGN KEY (`DepotOrderEntityId`) REFERENCES `DepotOrders` (`DepotOrderId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1191 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DepotOrderItems`
--

LOCK TABLES `DepotOrderItems` WRITE;
/*!40000 ALTER TABLE `DepotOrderItems` DISABLE KEYS */;
/*!40000 ALTER TABLE `DepotOrderItems` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DepotOrderMissingItem`
--

DROP TABLE IF EXISTS `DepotOrderMissingItem`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DepotOrderMissingItem` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `OrderMissingId` int NOT NULL,
  `DepotOrderItemId` int NOT NULL,
  `SalesOrderItemId` int NOT NULL,
  `ProductName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `ProductBrand` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Packaging` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MissingQuantity` int NOT NULL,
  PRIMARY KEY (`Id`),
  UNIQUE KEY `IX_DepotOrderMissingItem_DepotOrderItemId` (`DepotOrderItemId`),
  KEY `IX_DepotOrderMissingItem_OrderMissingId` (`OrderMissingId`),
  CONSTRAINT `FK_DepotOrderMissingItem_DepotOrderItems_DepotOrderItemId` FOREIGN KEY (`DepotOrderItemId`) REFERENCES `DepotOrderItems` (`Id`) ON DELETE CASCADE,
  CONSTRAINT `FK_DepotOrderMissingItem_DepotOrderMissings_OrderMissingId` FOREIGN KEY (`OrderMissingId`) REFERENCES `DepotOrderMissings` (`MissingId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=63 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DepotOrderMissingItem`
--

LOCK TABLES `DepotOrderMissingItem` WRITE;
/*!40000 ALTER TABLE `DepotOrderMissingItem` DISABLE KEYS */;
/*!40000 ALTER TABLE `DepotOrderMissingItem` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DepotOrderMissings`
--

DROP TABLE IF EXISTS `DepotOrderMissings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DepotOrderMissings` (
  `MissingId` int NOT NULL AUTO_INCREMENT,
  `SalesOrderId` int NOT NULL,
  `MissingReason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MissingDescription` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DescriptionResolution` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `MissingDate` datetime(6) NOT NULL,
  `DepotOrderId` int NOT NULL,
  PRIMARY KEY (`MissingId`),
  KEY `IX_DepotOrderMissings_DepotOrderId` (`DepotOrderId`),
  CONSTRAINT `FK_DepotOrderMissings_DepotOrders_DepotOrderId` FOREIGN KEY (`DepotOrderId`) REFERENCES `DepotOrders` (`DepotOrderId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=37 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DepotOrderMissings`
--

LOCK TABLES `DepotOrderMissings` WRITE;
/*!40000 ALTER TABLE `DepotOrderMissings` DISABLE KEYS */;
/*!40000 ALTER TABLE `DepotOrderMissings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DepotOrders`
--

DROP TABLE IF EXISTS `DepotOrders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DepotOrders` (
  `DepotOrderId` int NOT NULL AUTO_INCREMENT,
  `SalesOrderId` int NOT NULL,
  `CustomerId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `CustomerName` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `CustomerEmail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PhoneNumber` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `RegistrationDate` datetime(6) NOT NULL,
  `DeliveryDetail` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `OrderDate` datetime(6) NOT NULL,
  `DeliveryDate` datetime(6) DEFAULT NULL,
  `Status` int NOT NULL,
  `PaymentType` int DEFAULT NULL,
  `TotalAmount` decimal(65,30) NOT NULL,
  `AssignedOperatorId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci DEFAULT NULL,
  `AssignedDepotTeamId` int DEFAULT NULL,
  `RejectionReason` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `DeliveryAddressId` int DEFAULT NULL,
  PRIMARY KEY (`DepotOrderId`),
  UNIQUE KEY `IX_DepotOrders_DeliveryAddressId` (`DeliveryAddressId`),
  KEY `IX_DepotOrders_AssignedDepotTeamId` (`AssignedDepotTeamId`),
  CONSTRAINT `FK_DepotOrders_DepotTeams_AssignedDepotTeamId` FOREIGN KEY (`AssignedDepotTeamId`) REFERENCES `DepotTeams` (`Id`),
  CONSTRAINT `FK_DepotOrders_OrderAddresses_DeliveryAddressId` FOREIGN KEY (`DeliveryAddressId`) REFERENCES `OrderAddresses` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DepotOrders`
--

LOCK TABLES `DepotOrders` WRITE;
/*!40000 ALTER TABLE `DepotOrders` DISABLE KEYS */;
/*!40000 ALTER TABLE `DepotOrders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `DepotTeams`
--

DROP TABLE IF EXISTS `DepotTeams`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `DepotTeams` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `TeamName` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `TeamDescription` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `DepotTeams`
--

LOCK TABLES `DepotTeams` WRITE;
/*!40000 ALTER TABLE `DepotTeams` DISABLE KEYS */;
INSERT INTO `DepotTeams` VALUES (5,'EQUIPO D01','Equipo encargado de armar los pedidos a la ma├▒ana ','2026-02-07 20:17:14.044613'),(6,'EQUIPO D02','Equipo encargado de armar los pedidos al mediod├¡a/tarde para despacharlos la ma├▒ana siguiente ','2026-02-07 20:17:57.719007');
/*!40000 ALTER TABLE `DepotTeams` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `OrderAddresses`
--

DROP TABLE IF EXISTS `OrderAddresses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `OrderAddresses` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `Street` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Number` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Apartment` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `City` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Province` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `Country` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `PostalCode` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `Latitude` double DEFAULT NULL,
  `Longitude` double DEFAULT NULL,
  `FormattedAddress` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci,
  `CreatedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`)
) ENGINE=InnoDB AUTO_INCREMENT=163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `OrderAddresses`
--

LOCK TABLES `OrderAddresses` WRITE;
/*!40000 ALTER TABLE `OrderAddresses` DISABLE KEYS */;
/*!40000 ALTER TABLE `OrderAddresses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `OrderStatusHistories`
--

DROP TABLE IF EXISTS `OrderStatusHistories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `OrderStatusHistories` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `OrderId` int NOT NULL,
  `OldStatus` int NOT NULL,
  `NewStatus` int NOT NULL,
  `ChangedAt` datetime(6) NOT NULL,
  `AverageDuration` double NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_OrderStatusHistories_OrderId` (`OrderId`),
  CONSTRAINT `FK_OrderStatusHistories_DepotOrders_OrderId` FOREIGN KEY (`OrderId`) REFERENCES `DepotOrders` (`DepotOrderId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=836 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `OrderStatusHistories`
--

LOCK TABLES `OrderStatusHistories` WRITE;
/*!40000 ALTER TABLE `OrderStatusHistories` DISABLE KEYS */;
/*!40000 ALTER TABLE `OrderStatusHistories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `TeamAssignments`
--

DROP TABLE IF EXISTS `TeamAssignments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `TeamAssignments` (
  `Id` int NOT NULL AUTO_INCREMENT,
  `DepotTeamId` int NOT NULL,
  `OperatorUserId` char(36) CHARACTER SET ascii COLLATE ascii_general_ci NOT NULL,
  `RoleInTeam` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `AssignedAt` datetime(6) NOT NULL,
  PRIMARY KEY (`Id`),
  KEY `IX_TeamAssignments_DepotTeamId` (`DepotTeamId`),
  CONSTRAINT `FK_TeamAssignments_DepotTeams_DepotTeamId` FOREIGN KEY (`DepotTeamId`) REFERENCES `DepotTeams` (`Id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `TeamAssignments`
--

LOCK TABLES `TeamAssignments` WRITE;
/*!40000 ALTER TABLE `TeamAssignments` DISABLE KEYS */;
INSERT INTO `TeamAssignments` VALUES (5,5,'e4b5103a-817f-4178-a190-81d0eaf7bea2','Operator','2026-02-07 20:18:44.628176'),(6,5,'8ad82350-bdba-49a3-94be-c34a30746d2b','Operator','2026-02-07 20:20:59.902321'),(7,6,'da4e98f3-4e82-4172-8b22-e7c970c86110','Operator','2026-02-07 20:33:21.698147'),(8,6,'09fd4639-63a0-4b91-9ec6-7d44800bba19','Operator','2026-02-07 20:33:25.915578'),(9,5,'3e2c575c-5d2a-4658-af49-d6fbb31e4f7f','Operator','2026-02-09 14:58:11.927538'),(10,6,'73110de4-1373-48b5-9443-8dd23737b376','Operator','2026-02-09 14:58:24.845687');
/*!40000 ALTER TABLE `TeamAssignments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `__EFMigrationsHistory`
--

DROP TABLE IF EXISTS `__EFMigrationsHistory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `__EFMigrationsHistory` (
  `MigrationId` varchar(150) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `ProductVersion` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  PRIMARY KEY (`MigrationId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `__EFMigrationsHistory`
--

LOCK TABLES `__EFMigrationsHistory` WRITE;
/*!40000 ALTER TABLE `__EFMigrationsHistory` DISABLE KEYS */;
INSERT INTO `__EFMigrationsHistory` VALUES ('20260127161409_InitialCreate','8.0.0');
/*!40000 ALTER TABLE `__EFMigrationsHistory` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-10 14:30:49
