.clienteItem {
  display: flex;
  align-items: flex-start;
  padding: 12px;
  border-bottom: 1px solid #e5e7eb; /* gray-200 */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  background-color: white;
}

.clienteItem:hover {
  background-color: #eff6ff; /* blue-50 */
  color: #1d4ed8; /* blue-700 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* efecto elevado */
  border-radius: 6px;
}

.clienteIcon {
  margin-right: 12px;
  margin-top: 4px;
  font-size: 1.25rem;
  color: #6b7280; /* gray-500 */
}

.clienteItem:hover .clienteIcon {
  color: #3b82f6; /* blue-500 */
}

.clienteNombre {
  font-weight: 600;
}

.clienteDireccion {
  font-size: 0.875rem;
  color: #6b7280;
}

#SearchBuscador:hover{
  transition: 1s;
  color: #3b82f6;
}
